/* sets for page */
body {
    background-color: #FFF4A3; /* the yellow area */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* put the elements be in the center */
}

/*  main */
.main-wrapper {
    padding-top: 100px; /* gave space from the top */
}

/* sets for right and left sides */
.content-left, .content-right {
    display: inline-block;     /* גורם להם לעמוד אחד ליד השני */
    vertical-align: top;          /* דואג שיתחילו מאותו גובה מלמעלה */
    width: 400px;                   /* גם הרוחב קבוע לשתיהם */
    margin: 20px;               /* רווח  בין שני החלקים */
    text-align: center;
}

/* צד שמאל */
.main-title {
    font-size: 80px;
    margin-bottom: 10px;
}

.sub-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* עיצוב לכפתורים */
.btn {
    display: block;          /* */
    text-decoration: none;   /*without underscore */
    color: white;
    padding: 15px 25px; /* space between buttons*/
    margin: 10px auto;     /* רווח חיצוני ביניהם ומירכוז */
    border-radius: 25px;   /* עיגול פינות */
    font-weight: bold;
    width: 200px;
}

/* צבעי של כפתורים  */
.btn-green { background-color: #04AA6D; }
.btn-dark  { background-color: #282A35; }
.btn-pink  { background-color: #FFC0C7; color: black; }

/* הדוגמה בצד ימין */
.example-box {
    background-color: #E7E9EB; /* רקע::: אפור */
    padding: 20px;
    border-radius: 5px;
    text-align: left; /* הטקסט בתוך הקופסה יהיה לשמאל */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* צל קטן */
}

.example-title {
    margin-top: 0;
}


.code-area {
    background-color: white;
    padding: 15px;
    border-left: 4px solid #04AA6D; /* הקו הירוק בצד */
    margin-bottom: 20px;
}


.code-selector { color: brown; }
.code-property { color: red; }
.code-value { color: blue; }