*{
    box-sizing: border-box;
}
body{
    background-image: url(./web-page.webp);
    background-size: cover;
    background-repeat:no-repeat ;
    margin: 0;
    padding: 0;
}

/* .nav-bar{
    flex: ;
} */
.aaa{
    display: inline-block;
    /* display: flex; */
    /* justify-content: center; */
    /* height: 5px; */
    /* height: 50px; */
    /* width: 100%; */
    margin: 2% 36% auto 28%;

}
#logo{
    margin-left: 3rem;
    background-color: white;
    border: 0;
}

.justA{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.header {
    height: 60vh;
    position: relative;
    top: 1rem;
    background: linear-gradient(rgb(65, 85, 179), grey, white,red);
}
#h1{
    position: absolute;
    top:10rem;
    left: 35%;
    font-size: xxx-large;

}
#s1{
    position: absolute;
    top:14rem;
    left: 35%;
    width: 31rem;

}

.articles{
    /* display: inline; */
    /* padding: 5%; */
    /* display: inline-block; */
    /* position: relative ; */
    width:20%;
    
    /* margin-left: 20%; */
    /* margin-right: 20%; */

    display: inline-block;
  /* Adjust vertical alignment if needed */
  vertical-align: top;
  /* Add spacing and styling */
  padding: 10px;
  /* border: 1px solid #ccc; */
  margin: 2rem 0.5rem;
}
.backround2{
    /* margin-top: 3rem; */
    /* display: inline-block; */
    /* height:  4rem; */
    /* background-color: black; */
    /* width: 100%; */
    text-align: center;
background-color: blueviolet;
}
.bold{
    font-weight: 500;
    font-size: 2rem;
}
#backround3{
background-color: palevioletred;
}
