*{
    box-sizing: border-box;
}
body{
    background-image: url(./web-page.webp);
    background-size: cover;
    background-repeat:no-repeat ;
    margin: 0;
    padding: 0;
}

/* .nav-bar{
    flex: ;
} */
.aaa{
    display: inline-block;
    /* display: flex; */
    /* justify-content: center; */
    /* height: 5px; */
    /* height: 50px; */
    /* width: 100%; */
    margin: 2% 28% auto 28%;

}
#logo{
    margin-left: 1rem;
}

.justA{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}
.header {
    height: 40vh;
    position: relative;
    top: 1rem;
    background: linear-gradient(rgb(65, 85, 179), grey, white);
}
#h1{
    position: absolute;
    top:10rem;
    left: 35%;
    font-size: xxx-large;

}
#s1{
    position: absolute;
    top:14rem;
    left: 35%;
    width: 31rem;

}

.articles{
    /* display: inline; */
    padding: 5%;
    position: relative ;
    width: 22%;
    
    margin-left: 20%;
    margin-right: 20%;
}