section{
    position: relative;
    height:  300px;
    margin: 30px;
    background-color: blueviolet;
    border-radius: 10px;
    padding: 50px;
    z-index: 11;
}
#n1{
    position: fixed;
    width: 50%;
    background-color: aquamarine;
    top: 200px;
    z-index: 12;
}
#n2{

}
html{
    font-size: 2rem;
}